:root {
    --height-header: 5rem;
    --color-dark: hsl(0, 0%, 20%);
    --height-box: 10vw;
    --gap-grid: 0.5vw;
    --height-grid: calc((var(--height-box) * 3) + (var(--gap-grid) * 2));
}

body {
    margin: 0;
}

/* header, footer */
header,
footer {
    background-color: var(--color-dark);
    color: white;
    height: var(--height-header);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
}

header {
    font-size: 1.5rem;

    top: 0;
    z-index: 1;
}

/* footer */
footer {
    box-sizing: border-box;
    padding: 0 3rem;

    gap: 3rem;
    bottom: 0;
}

footer a {
    color: white;
}

.attribute {
    display: flex;
    flex-direction: column;
}

footer > a {
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer img {
    height: calc(var(--height-header) * 0.3);
}

footer span {
    padding-top: 0.3rem;
}

/* content */
.content {
    height: calc(100vh - (var(--height-header) * 2));
    width: 100%;
    margin: var(--height-header) 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* grid */
.grid {
    height: var(--height-grid);
    width: var(--height-grid);

    display: grid;
    grid-template-columns: repeat(3, var(--height-box));
    grid-template-rows: repeat(3, var(--height-box));
    gap: var(--gap-grid);
}

/* box */
.box {
    border: 1px solid var(--color-dark);
    border-radius: 0.5rem;
    font-size: calc(var(--height-box) * 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.box img {
    height: calc(var(--height-box) * 0.5);
}

/* reset */
.content > div:last-of-type {
    height: 3rem;

    display: flex;
    align-items: center;
}

#reset {
    height: 3rem;
    width: 6rem;
    background-color: var(--color-dark);
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

#reset:hover {
    background-color: hsl(0, 0%, 30%);
}

#reset:active {
    height: 2.8rem;
    width: 5.8rem;
}

/* media */
@media (orientation:portrait) {
    :root {
        --height-box: 10vh;
        --gap-grid: 0.5vh;
    }
}

@media (max-width: 480px) {
    .attribute {
        font-size: 0.8rem;
    }
}
