:root {
    --color-dark: hsl(0, 0%, 20%);
    --height-header: 5rem;
    --height-content: calc(100vh - var(--height-header));
    --height-arrow: 3rem;
    --height-box: 7vw;
    --gap-grid: 0.5vw;
}

body {
    margin: 0;
}

/* header, footer */
header,
footer {
    background-color: var(--color-dark);
    color: white;
    height: var(--height-header);

    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 1.5rem;
}

/* footer */
footer {
    box-sizing: border-box;
    padding: 0 3rem;

    gap: 3rem;

    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
}

.attribute {
    display: flex;
    flex-direction: column;
}

footer > a {
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer img {
    height: calc(var(--height-header) * 0.3);
}

footer span {
    padding-top: 0.3rem;
}

/* welcome */
.welcome {
    height: var(--height-content);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.welcome div {
    font-size: 3rem;
}

/* content */
.content {
    box-sizing: border-box;
    height: var(--height-content);
    padding-bottom: var(--height-header);

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 3rem;
}

.vs {
    width: calc(var(--height-box) * 3);
    font-size: calc(var(--height-arrow) * 0.6);
    text-align: center;
    padding: 3rem 2rem 0 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: flex-end;
}

.turn {
    height: var(--height-arrow);
}

.mark {
    height: calc(var(--height-arrow) * 0.6);
    margin-top: 0.5rem;
}

#vs {
    padding-top: var(--height-arrow);

    justify-self: center;
    align-self: center;
}

#p1,
#p2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#reset {
    align-self: flex-start;
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, var(--height-box));
    grid-template-rows: repeat(3, var(--height-box));
    gap: var(--gap-grid);
}

/* box */
.box {
    border: 1px solid var(--color-dark);
    border-radius: 0.5rem;
    font-size: calc(var(--height-box) * 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.box img {
    height: calc(var(--height-box) * 0.5);
}

/* dialog */
dialog {
    border: none;
    box-shadow: 0 0 1rem var(--color-dark);
    border-radius: 1rem;
}

::backdrop {
    background-color: black;
    opacity: 50%;
}

#dialog-new-game > div:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1.5rem 0;
}

#dialog-new-game form {
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
}

#dialog-new-game form div:first-of-type {
    display: flex;
    flex-direction: column;
}

#dialog-new-game form div:last-of-type {
    margin-top: 2rem;

    display: flex;
    gap: 1rem;
}

label[for="p2-name"] {
    margin-top: 1rem;
}

input {
    line-height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-dark);
    text-indent: 0.5rem;
}

input:focus {
    outline: none;
}

#dialog-result {
    background-color: hsl(0, 0%, 100%, 0.8);
}

#dialog-result > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dialog-result > div > div:first-of-type {
    margin: 3rem 0;
    font-size: 1.5rem;
}

#dialog-result > div > div:last-of-type {
    display: flex;
    gap: 1rem;
}

/* button */
button {
    height: 3rem;
    width: 6rem;
    background-color: var(--color-dark);
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

button:hover {
    background-color: hsl(0, 0%, 30%);
}

button:active {
    height: 2.8rem;
    width: 5.8rem;
}

/* media */
@media (orientation:portrait) {
    :root {
        --height-box: 10vh;
        --gap-grid: 0.5vh;
    }
}

@media (max-width: 480px) {
    .vs {
        font-size: calc(var(--height-arrow) * 0.5);
    }

    .attribute {
        font-size: 0.8rem;
    }
}
